aioredis==1.0.0
asgi-redis==1.0.0
asgiref==2.3.0
asn1crypto==0.24.0
async-timeout==2.0.1
attrs==16.3.0
autobahn==18.5.1
Automat==0.5.0
certifi==2018.4.16
cffi==1.11.5
channels==2.1.1
channels-redis==2.1.1
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
daphne==2.1.1
decorator==4.2.1
Django==2.0
djangorestframework==3.7.7
hiredis==0.2.0
hyperlink==18.0.0
idna==2.6
incremental==16.10.1
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
lesscpy==0.13.0
msgpack==0.5.6
msgpack-python==0.4.8
oauthlib==2.0.6
parsel==1.4.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyScreeze==0.1.14
python-dateutil==2.6.1
PyTweening==1.0.3
pytz==2018.3
queuelib==1.4.2
redis==2.10.5
requests==2.18.4
requests-oauthlib==0.8.0
service-identity==17.0.0
simplegeneric==0.8.1
traitlets==4.3.2
Twisted==18.4.0
txaio==2.10.0
urllib3==1.22
w3lib==1.19.0
wcwidth==0.1.7
xlib==0.21
