{% extends 'chat/base.html' %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'chat/css/index.css' %}">
{% endblock %}

{% block div %}
	<div class="parallax">
		<p>
            {% if user_session %}
                <span class="round-corn" id="howdy-user">Welcome {{full_name}}!</span>
            {% else %}
                <a class="btn" href="{% url 'chat:signup' %}">Getting started</a>
            {% endif %}
		</p>
    </div>
    {% if user_session %}
        <div class="text-center">
            <i class="fa fa-chevron-circle-down" id="down-button">
                <a role="button"></a>
            </i>
        </div>
        <div class="container-fluid cont-fl-custom-bg">
            <div class="row" style="height: 36em;">
                <div class="col-md-3" style="height:30em;overflow-y: auto; padding-top: 20px;">
                    <!-- <form action="" class="form-inline text-center">
                        <input type="text" class="form-control col-md-8" id="search-box" placeholder="Search a username" style="border-radius: 4px 0 0 4px;">
                        <button class="form-btn" type="submit"><strong>Search</strong></button>
                    </form> -->
                    <ul class="list-group text-center">
                        <li class="list-group-item list-group-item-success"><strong>Online</strong></li>
                    </ul>
                    <ul class="list-group text-center" id="online_users" style="overflow: auto;">
                        {% for usr in online %}
                            <li class="list-group-item list-group-item-primary"><button type="button" role="button" class="clickable-on round-corn" onclick="start_conv(this)">{{ usr }}</li>
                        {% endfor %}
                    </ul>
                </div>
               
                <div class="col-md-7 msg-box-border">
                    <div  id="user-selected" style="display:none;">
                        <div class="contact-navbar text-center round-corn">
                            <h4 id="current_name"></h4>
                        </div>
                        <div class="container">
                            <div style="height: 30em;">
                                <span id="add_new_area"></span>
                                <input type="text" class="round-corn" id="msg-input" placeholder="Enter your message here!">
                                <input type="button" name="now-message" class="form-btn" id="subm-btn" value="Send"/>
                            </div>
                        </div>
                    </div>
                    <div id="no-user-selection">
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 20px;">
                    <ul class="list-group text-center" id="new-msgs">
                        <!-- <li class="list-group-item blur-bg round-corn">
                            <a href="#" class="acnt-changes">Change your firstname</a>
                        </li>
                        <li class="list-group-item blur-bg round-corn">
                            <a href="#" class="acnt-changes">Change your lastname</a>
                        </li>
                        <li class="list-group-item blur-bg round-corn">
                            <a href="#" class="acnt-changes">Change your username</a>
                        </li>
                        <li class="list-group-item blur-bg round-corn">
                            <a href="#" class="acnt-changes">Change your phone number</a>
                        </li>
                        <li class="list-group-item blur-bg round-corn">
                            <a href="#" class="acnt-changes">Change your password</a>
                        </li> -->
                        <li class="list-group-item list-group-item-success" id="show-new" style="display: none;"><strong>New Message(s)</strong></li>
                        <li class="list-group-item list-group-item-danger" id="no-new">No new message! :(</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    var user = "{{ user_session }}";
    var fullname = "{{ full_name }}";
    if (user) {
        document.cookie = "username=" + user;
        document.cookie = "fullname=" + fullname;
    }
</script>
<script src="{% static 'chat/js/basic.js' %}"></script>
<script type="text/javascript" src="{% static 'chat/js/main.js' %}"></script>
{% endblock %}