<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=New+Rocker" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Chat-con | Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'interface/css/base.css' %}">
    {% block link %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'interface/images/logo.png' %}">
    <script src="{% static 'interface/js/main.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark" role="navigation">
        <div class="container">
            <div class="col-md-2">
                <a class="navbar-brand" href="{% url 'interface:dashboard' %}" style="color:#55FF55;font-weight: bolder;"   >Chat-con</a>
                <button class="pull-right navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar1">
                <div class="col-md-7 offset-lg-1">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'interface:dashboard' %}" style="color:#55FF55;font-weight: bolder;">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'interface:contact' %}" style="color:#55FF55;font-weight: bolder;">Contact Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" style="color:#55FF55;font-weight: bolder;">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="https://github.com/m0hitnegi/chat-con/issues" target="_blank" style="color:#55FF55;font-weight: bolder;">Report Issues</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 offset-lg-1">
                    <ul class="navbar-nav">
                    {% if user_session %}
                        <li class="nav-item active offset-md-5">
                            <a href="{% url 'interface:logout' %}" class="nav-link" style="color:#55FF55;font-weight: bolder;">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a href="{% url 'interface:login' %}" class="nav-link" style="color:#55FF55;font-weight: bolder;">Login</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{% url 'interface:signup' %}" class="nav-link" style="color:#55FF55;font-weight: bolder;">Signup</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block div %}
    {% endblock %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}
</html>
