{% extends 'interface/base.html' %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'interface/css/index.css' %}">
{% endblock %}

{% block div %}
	<div class="parallax">
		<p>
			<button class="btn">Getting started</button>
		</p>
	</div>
	<div class="dash-board">
		<div class="row">
			<div class="col-md-4">
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
			</div>
			<div class="col-md-8">
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
				<p>a<p>
			</div>
		</div>
	</div>
{% endblock %}