{% extends 'interface/base.html' %}

{% block div %}
    <div class="container">
        <p>login 'ere manh!</p>
        <form action="" method="post" class="login-auth">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Enter your username"/><br>
            <label for="user-pass">Password:</label>
            <input type="password" id="user-pass" placeholder="*******"/>
            <button type="submit" value="submit">Login</button>
        </form>
    </div>
{% endblock %}