{% extends 'interface/base.html' %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'interface/css/form.css' %}">
{% endblock %}

{% block div %}
    <div class="container text-center form-div">
        <center>
            <div class="col form-box" style="height:380px;">
                <h1>Log In</h1><hr><br>
                <form action="{% url 'interface:dashboard' %}" method="post" novalidate>
                    {% csrf_token %}
                    <label for="username">
                        <strong>Username: </strong>
                    </label>
                    <input class="input-field" type="text" name="uname" id="username" placeholder="Enter your username" autofocus/>
                    <br>

                    <label for="password">
                        <strong>Password: </strong>
                    </label>
                    <input class="input-field" type="password" name="passwd" id="password" placeholder="********">
                    <button type="submit" class="btn btn-success" style="margin-bottom:5px;">Login</button><br>
                </form>
                {% if error %}
                    <p style="color:#ff0000;">{{ error }}</p>
                {% else %}
                    <div style="margin:40px;"></div>
                {% endif %}
                <hr>
                <a href="{% url 'interface:signup' %}">Create a new account</a> | <a href="#">Forgot Password?</a>
            </div>
        </center>
    </div>
{% endblock %}