{% extends 'interface/base.html' %}

{% load static %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'interface/css/form.css' %}">
{% endblock %}

{% block div %}
    <div class="container text-center form-div">
    	<center>
    		<div class="col form-box">
    			<h1>Sign Up</h1><hr>
		        <form action="" method="post" class="singup-auth">
                    <label for="fname">First Name: </label>
                    <input type="text" name="fname" class="input-field" placeholder=" Elon">

                    <label for="lname">Last Name:</label>
                    <input type="text" name="lname" class="input-field" placeholder=" Musk">

                    <label for="uname">Username:*</label>
                    <input type="text" name="" class="input-field" placeholder=" 3l0nmu5k">

                    <label for="passwd">Password:</label>
                    <input type="password" name="passwd" class="input-field" placeholder=" Enter a strong password.">

                    <label for="phnum">Phone No:*</label>
                    <input type="text" name="" class="input-field" placeholder=" 10-digit phone number">
    		    </form>
                <button type="submit" class="btn btn-success">Login</button><br>
                <strong>Or signup with</strong><br>
                <div>
                    <button type="submit" class="btn btn-danger">Google</button>
                    <button type="submit" class="btn btn-info">Facebook</button>
                </div>
                <hr style="margin-bottom: 5px;">
                <a href="{% url 'interface:login' %}">Already have an account?</a>
   	    	</div>
    	</center>
    </div>
{% endblock %}