{% extends 'interface/base.html' %}

{% load static %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'interface/css/form.css' %}">
{% endblock %}

{% block div %}
    <div class="container text-center form-div">
    	<center>
    		<div class="col form-box">
    			<h1>Sign Up</h1><hr>
		        <form action="{% url 'interface:dashboard' %}" method="post" class="signup-auth" novalidate>
                    {% csrf_token %}
                    <label for="fname">First Name: </label>
                    <input type="text" id="fname" name="fname" class="input-field" placeholder=" Elon" autofocus>

                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname" class="input-field" placeholder=" Musk">

                    <label for="uname">Username:*</label>
                    <input type="text" id="uname" name="uname" class="input-field" placeholder=" 3l0nmu5k">

                    <label for="passwd">Password:*</label>
                    <input type="password" id="passwd" name="passwd" class="input-field" placeholder=" Enter a strong password."/>

                    <label for="phnum">Phone No:*</label>
                    <input type="text" id="phnum" name="phnum" class="input-field" placeholder="10-digit phone number"/>
                    <button type="submit" class="btn btn-success">Sign Up</button><br>
    		    </form>
                {% if error %}
                    <p style="color:#0000ff;">{{ error }}</p>
                {% endif %}
                    <hr style="margin-bottom: 15px;">
                <a href="{% url 'interface:login' %}">Already have an account?</a>
   	    	</div>
    	</center>
    </div>
{% endblock %}