body {
    background-color: #90ee90;
}

* {
    outline-color: #55FF55;
}

.navbar {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.6s ease-out;
}

.opaq-nav {
    background-color: currentColor;
}

.navbar-brand {
    font-family: 'New Rocker', cursive;
}

.nav-item.active {
    padding-left: 30px;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .active>.nav-link {
    color:#55FF55;
    font-weight: bolder;
}

a.nav-link:hover {
    background-color: #2f4f4f;
    border-radius: 5px;
}

a.nav-link:active {
    background-color: #808080;
    border-radius: 5px;
}

.page-footer.font-small {
    background: green;
}