.parallax {
	background-image: url("/static/chat/images/parallax-bg.jpg");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.round-corn {
    border-radius: 5px;
}


.parallax p {
	padding: 300px 20px 0 20px;
	text-align: center;
}

.btn {
	font-size: 2em;
	color: #55FF55;
	border: 1px solid #55FF55;
	background-color: transparent;
}

.btn:hover {
	color: #55FF55;
	font-weight: 500;
	border: 2px solid #55FF55;
}

#howdy-user {
	background-color: rgba(0, 0, 0, 0.7);
	font-family: New Rocker, cursive;
	font-weight: 600;
	font-size: 35px;
	color: #55FF55;
	padding: 10px;
}

#down-button {
	font-size:35px;
	color:#55FF55;
	margin-top: -120px;
	position: fixed;
	display: none;
}

#down-button:hover {
	font-size: 38px;
}

.msg-box-border {
	border-width:0 5px 3px 5px;
	border-style: groove;
	border-color: #fff;
	overflow-y: auto;
	padding-top: 12px;
	height: 37em;
}

.form-btn {
    border-radius: 0 4px 4px 0;
    border-left: 2px groove #8e8e8e;
    padding: 5px;
}

.cont-fl-custom-bg {
    background-image: url("/static/chat/images/chat-background.jpg");
    background-size: cover;
    background-position: center;
    border: 2px groove white;
    border-radius: 4px 4px 0 0;
    height: 600px;
}

.blur-bg {
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 10px;
}

.blur-bg:hover {
	background-color: #2f4f4f;
}

.acnt-changes {
	color: #008000;
}

.acnt-changes:hover {
	color: #54fd54;
	text-decoration: none;
}

.contact-navbar {
	height: 50px;
	width: 100%;
	background-color: rgb(195, 230, 203);
}

.clickable-on {
	background-color: #e0e0e0;
	color: #155724;
}

#current_name {
	padding-top: 12px;
}

.text-msg {
	width: 100%;
	height:480px;
	resize: none;
	background-color: #fff;
}

#msg-input {
	width: 92%;
	padding: 5px;
	background-color: #fff;
	color: #000;
}