body {
	background-color: #f7e6d0;
}

.navbar {
    padding: 15px 0px;
	background: rgba(0, 0, 0, 0.2);;
	transition: all 0.6s ease-out;
}

.opaq-nav {
	background-color: red;
}

.navbar-brand {
    font-family: 'New Rocker', cursive;
}

.nav-item.active {
	padding-left: 30px;
}

/*.verti-sep {
	height: 30px;
	margin-top: 6px;
	border-left: 1px solid #000000;
}*/

.page-footer.font-small {
    background: green;
}