.parallax {
	background-image: url("/static/interface/images/parallax-bg.jpg");
	height: 650px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax p {
	padding: 300px 20px 0 20px;
	text-align: center;
}

.btn {
	font-size: 2em;
	color: #f7e6d0;
	border: 1px solid #f7e6d0;
	background-color: transparent;
}

.btn:hover {
	border: 2px solid #000;
	color: #000;
}

.dash-board {
	background-color: #f7e6d0;
	height: 605px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
