body {
	background-color: #f7e6d0;
}

.opaq-nav {
	background-color: red;
}

.navbar-brand {
    font-family: 'New Rocker', cursive;
}

.nav-item.active {
	padding-left: 30px;
}

/*.verti-sep {
	height: 30px;
	margin-top: 6px;
	border-left: 1px solid #000000;
}*/

.parallax {
	background-image: url("http://127.0.0.1:8000/static/interface/images/parallax-bg.jpg");
	height: 650px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax p {
	padding: 280px 20px 0 20px;
	text-align: center;
}

.btn {
	font-size: 2em;
	color: #000000;
	border: 1px solid #000000;
	background-color: transparent;
}
.btn:hover {
	border: 2px solid #f7e6d0;
	color: #f7e6d0;

}

.dash-board {
	background-color: #f7e6d0;
	height: 605px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.page-footer.font-small {
    background: green;
}